---
import Links from './Links.astro';
const { imageUrl, altText, name, bioText, socials, links } = Astro.props;

---

<div class="profile">
  <!-- Profile Picture -->
  <img src={imageUrl} alt={altText} class="profile-picture" />

  <!-- Name -->
  <h1 class="name">{name}</h1>

  <!-- Bio -->
  <p class="bio">{bioText}</p>

  <!-- Social Icons -->
  <div class="social-icons">
    {socials.map((social) => (
      <a href={social.link} target="_blank" rel="noopener noreferrer" class="social-icon-link">
        <img src={social.icon} alt={social.name} class="social-icon" />
      </a>
    ))}
  </div>
  <Links {links}>
</div>
